streamlit~=1.24.1
langchain~=0.1.4
openai
tiktoken
faiss-cpu
pydantic~=1.10.11
pypdf
requests~=2.31.0
python-docx
aiohttp~=3.8.4
selenium
unstructured
uuid
langchain-community
langchain-openai
langchain-openai
langchain-core
langsmith
pandasai
openpyxl